.tech {
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10%;
    justify-content: space-around;
  }

  .grid{
    width: 75%;
    height: 80%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40%;
    margin-bottom: 20%;
    
  }

  

